#aboutus-page {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(to bottom,
            orange 0%,
            orange 20%);

}
#main-wrapper {
    text-align: center;
}

.column {
    float: left;
    width: 30%;
    margin: 5% 10% 5% 10%;
}

#leadership h2 {
    margin-bottom: -3%;
    margin-top: 8%;
    font-weight: bold;
    color: orange;
}

#leadership{
    background-color: white;
}

@media screen and (max-width: 1000px) {
    #mission {
        margin-top: 3%;
        background-color: orange;
        color: white;
    }

    #mission p,
    #story p {
        color: white;
    }

    #story {
        margin: 3%;
        color: white;

    }

    #wendy img,
    #kemp img {
        width: 370px;
        height: 400px;
        margin: 5px;
    }

    #leadership h2 {
        margin-top: 3%;
        padding-top: 3%;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 1001px) {
    #mission {
        background-color: orange;
        color: white;
        margin-top: 3%;
    }

    #mission p,
    #story p {
        color: white;
        font-size: 15pt;
    }

    #story {
        margin: 3%;
        color: white;

    }

    #leadership {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #leadership h2 {
        text-align: center;
        margin-left: 90%;
    }

    #wendy img,
    #kemp img {
        width: 370px;
        height: 400px;
        margin: 5px;
    }

    #wendy {
        grid-column: 1 / span 1;
        margin-top: 5%;
        margin-left: 20%;
    }

    #kemp {
        grid-column: 2 / span 2;
        margin-top: 5%;
        margin-right: 20%;
    }

    #leadership h3,
    #leadership .title {
        margin-top: 3%;
    }
}