#contact-page img {
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    font-size: 40pt;
    -webkit-text-stroke: 0.2px black;
    margin-top: 5%;
}

#contact-description {
    font-size: 15pt;
}

address {
    margin-top: 40px;
}

address a {
    color: orange;
    margin-right: 30px;
    font-size: 25px;
}

address a:hover {
    color: skyblue;
}

#write-an-email {
    padding-right: 10%;
}

#write-an-email h1 {
    text-align: center;
}

#contact-page {
    padding-left: 10%;
    padding-bottom: 4%;
}

#contact-page .btn {
    background-color: orange;
    border: orange;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}