body {
    background-image: url("../images/contact.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: cover;
}

#contact {
    font-size: 45pt;
    color: white;
    -webkit-text-stroke: 0.2px black;
    margin-top: 2%;
    margin-left: 2%;
}

#contact-description {
    margin-left: 2%;
    font-size: 15pt;
}

address {
    margin-left: 2%;
    margin-top: 40px;
}

address a {
    color: rgb(9, 61, 82);
    margin-right: 30px;
    font-size: 25px;
}

address a:hover {
    color: rgb(9, 122, 167);
}