@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

body {
    background-image: url("../images/background3.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: center center;
    background-size: cover;
}

#welcome {
    font-family: "wellfleet";
    font-size: 55pt;
    color: white;
    -webkit-text-stroke: 1px black;
    margin-top: -2%;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.container img {
    grid-row: 2;
    margin-bottom: 2%;
    margin-top: -3%;
}

#login-container {
    margin-bottom: 10%;
}