@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

#login-page .container {
    display: grid;
    grid-template-rows: 0.7fr 0.3fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#login-html footer {
    position: relative;
    margin-top: 5%;
}

#welcome {
    font-size: 20pt;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -3%;
    font-family: 'Amatic SC', cursive;
}

#welcome b {
    font-family: 'Amatic SC', cursive;
    font-size: 25pt;
    color: orange;
}

@media screen and (max-width: 1281px) and (min-width: 701px) {
    #welcome b {
        font-size: 35pt;
    }

    #welcome {
        margin-top: -1%;
    }

}