#thanks-page {
    text-align: center;
    background-image: url(../images/thanks.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

#thank-you {
    font-size: 30pt;
    margin-top: 7%;
}

#thanks-page i {
    margin: 3% 0 4% 0;
}

#thanks-page a {
    text-decoration: none;
}

#thanks-html footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}